body{
    background: linear-gradient(90deg, #b19f8b, #987a54);
}
main{
    margin: 5vh auto;
    max-width: 96vw;
}
h1{
    margin-top: 2%;
    position: absolute;
    margin-left: 42.5vw;
}
section{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #f7f7f7, #fbfbfb);
}
article{
    margin-top: 10%; /* Environ 80px sur mon écran de test */
}
img{
    width: 90px;
    height: 90px;
    object-fit: scale-down;
}
span{
    color: transparent;
}
footer{
    color: antiquewhite;
    text-align: center;
    font-weight: 100;
    font-style: italic;
}
.fa-circle-plus, .fa-circle{
    color: #db6578;
}
.dice{
    box-sizing:content-box;
    text-align: center;
    min-width: 90px;
    height: 90px;
    margin-left: -4%;
    margin-top: 12%;
    align-self: center;
    justify-self: center;
}
.dice-action{
    min-width: 20%;
    text-align: center;
    margin-left: -7%;
    margin-top: 10%;
    margin-bottom: 3%;
    align-self: center;
}
.content-left{
    min-width: 50%;
    background-color: #f7f7f7;
}
.content-right{
    width: 50%;
    background-color: #fbfbfb;
}
.bottom-content{
    margin-top: 10%;
    background-color: #eb4d4c;
}
.bottom-content-left{
    margin-left: 17%;
    margin-right: 20%;
    min-width: 80px;
    height: 50px;
    border: 1px solid black;
}
.bottom-content-right{
    margin-left: 12%;
    margin-right: 20%;
    max-width: 80px;
    height: 50px;
    border: 1px solid black;
}
.active-player{/* ATTENTION ! classe temporaire me servant de répère pour mon JS est à supprimer par la suite !*/
    font-weight: bolder;
}
.global-score{
    margin-top: 5%;
}
.global-score, .fa-rotate, .fa-file-arrow-down{
    color: #db6578;
}
.round-score{
    color: white;
}

/* START stylization for devices with screen larger than smartphones */

@media screen and (min-width: 820px) and (orientation: portrait){
    h1{
        margin-top: 2%;
        position: absolute;
        margin-left: 33.5vw;
    }
    main{
        max-width: 75vw;
        min-height: 33%;
        margin-top: 45%;
    }
}
@media screen and (min-width: 1024px) and (orientation: landscape){
    main{
        max-width: 90%;
        margin-top: 18%;
    }
}
@media screen and (min-width: 1200px) {
    h1{
        margin-left: 31.5vw;
    }
    main{
        margin-top: 14%;
        max-width: 70%;
    }
    .dice-action{
        min-width: 15%;
        margin-left: -2%;
    }
    .bottom-content-right{
        margin-left: 20%;
    }
}
/* END stylization for devices with screen larger than smartphones */
